+menu_item('#services', 'Услуги', 'c1 local')
+menu_item('#price', 'Цены', 'c1 local')
+menu_item('#about', 'О нас', 'c1 local')
+menu_item('#kids', 'Детская стоматология', 'c1 local')
+menu_item('#team', 'Наши специалисты', 'c1 local')
+menu_item('#reviews', 'Отзывы', 'c1 local')
+menu_item('#contacts', 'Контакты', 'c1 local')