-let title = 'Ramabot'
-let description = ''
-let keywords = ''


doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title=title
        meta(name='description', content=description)
        meta(name='keywords', content=keywords)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:image', content='assets/img/soc.png')
        link(rel='icon', href='favicon.ico')
        link(rel='apple-touch-icon', sizes='100x100', href='favicon.png')
    body
        include ../components/ramabot/ramabot