form.ramabot#ramabot
    .ramabot__header
        .ramabot__header_img
            img#img1(src="../assets/img/manager.png", alt="img")
        .ramabot__header_title
            h6 Александр
            p  Буду рад помочь!   
    .ramabot__body_box.ramabot__body_hidden
        .ramabot__body
            .write_wrap.d-none#ramabot_prealoader
                img(src="../assets/img/827.svg", alt="preloader")
                p Подождите, вам пишут сообщение
        .ramabot__body_form    
            textarea(name="question" placeholder="Введите ваше сообщение")
            input.d-none(type="text" name="name" placeholder="Введите ваше имя")
            input.d-none(type="tel" name="phone" placeholder="Введите ваш номер телефона")
            button#rama_send
                svg(id="send" viewBox="0 0 455 455" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M227.5 0C101.855 0 0 101.855 0 227.5C0 353.145 101.855 455 227.5 455C353.145 455 455 353.145 455 227.5C455 101.855 353.145 0 227.5 0ZM199.476 355.589L178.228 334.411L284.791 227.5L178.228 120.589L199.476 99.411L327.148 227.5L199.476 355.589Z")

    .ramabot__footer
